.ui.secondary.inverted.pointing.menu>.item {
    color: #000;
}

.ui.primary.button:hover {
    background-color: #33CCCC;
}

.ui.secondary.inverted.pointing.menu {
    margin: 0;
}

.ui.inverted.button {
    color: #000;
}

#face, #insta, #email, #ld {
    fill: #33CCCC;
    margin-left: 5px;
}

.ui.menu .item:before {
    width: 0;
}

.team-image {
    border-radius: 50%;
    width: 200px;
}

.subscribe, .ui.button {
    background-color: #33CCCC;
    color: #FFF;
    border-radius: 2px;
    margin-left: 5px;
}

.ui.button:hover {
    background-color: #CCC;
    color: #FFF;
}

.ui.inverted.segment {
    background-color: #fff!important;
    margin: 0;
}

.parallax {
    background-image: url('./images/pexels-photo-708392.jpeg');

    height: 500px;
    width: 100%;
    /*height: 100%;*/

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}